<ion-view view-title="Session Details">

    <ion-nav-buttons side="right">
        <a class="button icon-save" ng-click="save()">Save</a>
    </ion-nav-buttons>
    <ion-content>
        <ion-item class="item item-icon-left">
            <i class="icon icon-{{::session.icon}}"></i>
            {{::session.name}}
        </ion-item>
        <ion-item class="item item-icon-left">
            <i class="icon ion-clock"></i>
            {{::session.startDate.iso|date:"HH:mm":'GMT' }}
            <i ng-if="::session.startDate.iso&&session.endDate.iso">-</i>
            {{::session.endDate.iso|date:"HH:mm":'GMT' }}
            <p>{{::session.startDate.iso|date:'EEEE, MMMM d, y'}}</p>
        </ion-item>
        <ion-item ng-if="::room.objectId != null" href="#/app/plcrc/room?id={{::room.objectId}}" class="item item-icon-left">
            <i class="icon ion-home"></i>
            {{::room.name}}
            <span class="badge ion-arrow-right-c" />
        </ion-item>
        <ion-item ng-if="::spot.objectId != null" href="#/app/city/spot?spotId={{::spot.objectId}}" class="item item-icon-left">
            <i class="icon ion-pin"></i>
            {{::spot.name}}
            <span class="badge ion-arrow-right-c" />
        </ion-item>

        <ion-item class="item item-icon-left">
            <i class="icon ion-person"></i>
            <input type="text" ng-model="session.presenter">
        </ion-item>
        <ion-item class="item item-icon-left">
            <i class="icon ion-person-stalker"></i>
            <input type="text" ng-model="session.attendee">
        </ion-item>
        <ion-item class="item item-icon-left">
            <i class="icon ion-clipboard"></i>
            <input class="session" type="text" ng-model="session.text">
        </ion-item>
        <ion-item ng-if="::session.icon == 'plane'" class="item item-icon-left" ng-click="goToState('app.city/airport')">
                <i class="icon ion-information-circled"></i>
                <h2>Kraków Airport info</h2>
                <span class="badge ion-arrow-right-c" />
        </ion-item>
        <ion-item ng-if="::session.icon == 'laboratory'" class="item item-thumbnail-left">     
                <img src="./img/guidelines/touch2.svg">
                <h2>
                    In the measuring rooms additional safety regulations may be enforced. Follow your guide, do not touch anything without clear approval. 
                </h2>     
        </ion-item>
    </ion-content>
</ion-view>
