@charset utf-8;

* {
	outline: none;
	text-decoration: none; 
}

html {
	height: 100%;
}

body {
	widht: 99%; 
	height: 100%;
	color: #333; 
	background: lightslategray; 
	background-size: 100%; 
	font-size: 1em; 
	font-family: "Segeo UI", sans-serif; 
	line-height: 135%; 
}

.next {
	color: gray;
	text-decoration: none; 
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: darkturquoise;
	text-decoration: none; 
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: springgreen}

a {
	color: white;
	text-decoration: none; 
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:hover {
	color: darkturquoise;
	text-decoration: none; 
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: springgreen}

header, footer {
	width: 98%; 
	background-color: #fff; 
	min-height: 50px; 
	float: left;
} 

header {
	border-bottom: 2px solid dimgray; 
	padding: 1%; 
	background: url(https://pp.userapi.com/c846520/v846520460/570a8/uJXH5ufXnW8.jpg);
}


a:hover {
	color: darkturquoise;
	text-decoration: none; 
	transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	-ms-transition: all.6s ease;
}

a:active {color: springgreen}

.logo {
	font-family: Comic Sans MS, sans-serif;
	font-size: 2.1em;
	color: white;
}

.logo2 {
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.5em;
	color: white;
	margin-left: 50px;
}

.logo:hover {
	color: lightcoral; 
	transition: all.1s ease;
}

.right {
	float: right; 
	font-family: Comic Sans MS, sans-serif; 
	font-size: 1.5em;
}

.clear {clear: both}



hr {
	display: block; 
	border: 0; 
	height: 1px;
	border-top: 1px solid lightcoral; 
	padding: 0;
}

#menu {
	color: black; 
	font-family: Comic Sans MS, sans-serif;
	font-size: 2em;
}

#menu hr {
	width: 450px; 
	max-width: 100%;
	margin-top: 12px; 
	margin-bottom: 12px;
}

#menuHrefs a {
	padding: 10px; 
	border-radius: 5px; 
	margin-right: 5px;
	color: black;
}

#menuHrefs a:hover {
	background-color: #ececec;
}

#wrapper {
	float: left;
	width: 100%; 
	margin-top: 40px;
	margin-bottom: 1px;
}

#wrapper #articles {
	float: left; 
	width: 80%;
	margin-left: 10%;
}

#wrapper #articles article {
	float: left; 
	min-height: 450px; 
	background-color: oldlace; 
	border-radius: 10px; 
	border: 2px solid gray; 
	box-sizing: border-box; 
}
	
@media (min-width: 800px) {
#wrapper #articles article {
	width: 31.333%;
	margin-left: 2%;
}}

@media (max-width: 799px) {
#wrapper #articles article {
	width: 98%; 
	margin-bottom: 10px;
}}

#wrapper #articles article img {
	width: 100%; 
	height: 186px; 
	border-radius: 5px 5px 5px 5px;
	border-bottom: 2px solid silver;
}
#wrapper #articles article a {
	background-color: salmon; 
	float: right; 
	color: white; 
	border-radius: 20px; 
	padding: 10px 20px;
	margin: 10px 5px 5px 5px;
}

#wrapper #articles article a:hover {
	background-color: limegreen;
}

#wrapper #articles article p {
	margin-left: 5px; 
	margin-right: 5px;
}

#wrapper #articles article h2 {
	margin-left: 120px;
}

#blok_pierwszy {
	float: left; 
	width: 100%; 
	margin-top: 40px; 
	margin-bottom: 40px;
}

#blok_pierwszy #blok_drugi {
	float: left; 
	width: 80%; 
	margin-left: 10%;
}


#blok_pierwszy #blok_drugi trzeci {
	float: left; 
	min-height: 450px; 
	background-color: oldlace; 
	border-radius: 10px; 
	border: 2px solid gray; 
	box-sizing: border-box; 
}
	
@media (min-width: 800px) {
#blok_pierwszy #blok_drugi trzeci {
	width: 31.333%;
	margin-left: 2%;
}}

@media (max-width: 799px) {
#blok_pierwszy #blok_drugi trzeci {
	width: 98%; 
	margin-bottom: 10px;
}}


#blok_pierwszy #blok_drugi trzeci img {
	width: 100%; 
	height: 186px; 
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid silver;
}

#blok_pierwszy #blok_drugi trzeci a {
	background-color: salmon; 
	float: right; 
	color: white; 
	border-radius: 20px; 
	padding: 10px 20px;
	margin: 10px 5px 5px 5px;
}

#blok_pierwszy #blok_drugi trzeci a:hover {
	background-color: limegreen;
}

#blok_pierwszy #blok_drugi trzeci h2 {
	margin-left: 120px;
}

#blok_pierwszy #blok_drugi trzeci p {
	margin-left: 5px; 
	margin-rigth: 5px;
}

#one {
	float: left; 
	width: 100%; 
	
}

#one #two {
	float: left; 
	width: 80%; 
	margin-left: 10%;
}

#one #two three {
	float: left; 
	min-height: 450px; 
	background-color: oldlace; 
	border-radius: 10px; 
	border: 2px solid gray; 
	box-sizing: border-box; 
}
	
@media (min-width: 800px) {
#one #two three {
	width: 31.333%;
	margin-left: 2%;
}}

@media (max-width: 799px) {
#one #two three {
	width: 98%; 
	margin-bottom: 10px;
}}

#one #two three img {
	width: 100%; 
	height: 186px; 
	border-radius: 5px 5px 0px 0px; 
	border-bottom: 2px solid silver;
}

#one #two three a {
	background-color: salmon; 
	float: right; 
	color: white; 
	border-radius: 20px; 
	padding: 10px 20px;
	margin: 10px 5px 5px 5px;
}

#one #two three a:hover {
	background-color: limegreen;
}

#one #two three h2 {
	margin-left: 120px; 
}

#one #two three p {
	margin-left: 5px; 
	margin-right: 5px;
}

#galaktyka {
	width: 100%; 
	padding: 2% 0; 
	border-bottom: 2px solid silver; 
	border-top: 2px solid silver; 
	margin-top: 100px;
	margin-bottom: 100px;
	background-image: url(https://pp.userapi.com/c846220/v846220783/4a205/h8xrJ9gaXDc.jpg);
	float: left;
	height: 30px;
}

#galaktyka #in_galaktyka span {
	width: 100%; 
	font-size: 100%;
	font-family: Comic Sans MS, sans-serif;
	margin-left: 38%;
	color: #333;
}

#galaktyka #in_galaktyka span:hover {
	color: white;
	transition: all.3s ease;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}

#galaxy_information {
	min-width: 90%; 
	min-height: 500px;
	border-box: bottom-box; 
	border: 2px solid gray;
	border-radius: 20px;
	float: left;
	background-image: url(witalij777.github.io/galaxy.jpg);
	background-size: cover;
	margin-left: 62px;
	margin-top: 40px;
	color: white; /* https://pp.userapi.com/c844720/v844720854/569b2/rMwqQhKz_Mg.jpg */
}

#galaxy_information #galaxy_center {
	width: 97%; 
	float: center;
}

#galaxy_information #galaxy_center #pravy { 
	float: left; 
	min-height: 450px; 
	border-radius: 10px; 
	box-sizing: border-box; 
}

@media (min-width: 800px) {
#galaxy_information #galaxy_center #pravy { 
	width: 800px; 
}} 

@media (max-width: 799px) {
#galaxy_information #galaxy_center #pravy {
	width: 100%; 
	margin-bottom: 10px;
}}


#galaxy_information #galaxy_center #pravy span {
	font-family: Comic Sans MS, sans-serif;
	font-size: 1.2em;
	color: lightgrey;
	text-shadow: 1px 1px 2px black, 0 0 1em turquoise;
}

#SL {
	 
	float: left; 
}
 
#SL_in {
	width: 538px;    
	height: 538px;
	float: left; 
	border-radius: 30%;
	overflow: hidden;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 430px;
}

#slider {
	float: left; 

}



footer {
	border-top: 2px solid dimgray; 
	margin-top: 10px;
	padding: 1%;
	background: url(https://pp.userapi.com/c834101/v834101363/13aebb/lVadhh8CDOo.jpg);
	color: white;
	
}

