<ion-view view-title="City">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col">
                <div ng-click="goToCity()" class="item item-body">
                    <img class="full-image" src="./img/city/krakow_3.jpg">
                    <p>About Kraków</p>
                </div>
            </div>
            <div class="col">
                <div ng-click="goToAirport()" class="item item-body">
                    <img class="full-image" src="./img/city/airport/balice_3.jpg">
                    <p>Airport Balice</p>
                </div>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <div ng-click="goToSpot('restaurant')" class="item item-body">
                    <img class="full-image" src="./img/city/restaurant/default.jpg">
                    <p>Restaurants</p>
                </div>
            </div>
            <div class="col">
                <div ng-click="goToSpot('sight')" class="item item-body">
                    <img class="full-image" src="./img/city/sight/default.jpg">
                    <p>Sightseeing</p>
                </div>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col">
                <div ng-click="goToSpot('hotel')" class="item item-body">
                    <img class="full-image" src="./img/city/hotel/default.jpg">
                    <p>Hotels</p>
                </div>
            </div>
            <div class="col">
                <div ng-click="goToSpot('shopping')" class="item item-body">
                    <img class="full-image" src="./img/city/shopping/default.jpg">
                    <p>Shopping</p>
                </div>
            </div>
        </div>
</ion-content>
</ion-view>
